body {
  background-color: whitesmoke;
  text-align: center;
}

#first-years {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#the-expelled {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
    margin: 5px;
}