body {
  background-color: paleturquoise;
}

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#hat {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  flex-basis: 30%;
  align-items: center;
}


